.backdrop{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.85;
    top: 0;
    display: none;
}
.backdrop.active{
    display: block;
}