.modalOverlay {
  z-index: 60;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 85%;
  height: 15rem;
  display: none;
  align-content: center;
  padding: 40px 0;
}

.modalOverlay.active {
  display: block;
}

.flex2 {
  display: flex;
  flex: 12;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
}

.flex-2 * {
  flex: 6;
}

.button {
  padding: 10px 30px;
  margin: auto 30px;
  font-weight: 700;
  min-width: 110px;
}

.button:hover {
  background-color: #da7817;
  box-shadow: none;
  border: 0;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
  font-size: 18px;
}
