.footer {
    background-color: #da7817;
    position: static;
    width: 100%;
    padding: 15px 0 15px 0;
    bottom: 0;
}

.footer nav {
    height: 100%;
}

.footer ul {
    height: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.footer li {
    margin: 0 1rem;
    padding: 0 1rem;
    width: 7rem;
    color: #fff;
}

.footer a {
    text-decoration: none;
    color: #fff;
    padding-bottom: 0;
    cursor: pointer;
}

.footer a:hover {
    border-bottom: 2px solid #eee;
    text-decoration: none;
}

.footer a:active,
.footer a.active {
    border-bottom: 2px solid #eee;
    text-decoration: none;
    cursor: default;
}
